.grid-contenedor {
  display: grid;
  grid-template-areas: "item1" "item2" "item3"; }

.item1 {
  grid-area: item1; }

.item2 {
  grid-area: item2; }

.item3 {
  grid-area: item3; }

.flex-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

footer {
  text-align: center; }

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; }

.nav {
  justify-content: right; }

.img2, .img, .img3 {
  width: 20vw;
  height: 50vh;
  padding: 20px;
  margin: auto;
  margin-top: 30px; }

.img {
  display: flex;
  align-content: center; }

.logo {
  width: 50%;
  height: 30%; }

.mapa {
  margin-top: 20px;
  margin-bottom: 20px; }

.contacto2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  margin-top: 50px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 50%; }

body {
  font-family: "calibri";
  font-weight: bold;
  color: black;
  background-image: url("../img/fondo.jpg"); }

h5 {
  font-weight: bold;
  color: black; }

.texto {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold; }

.parrafo {
  margin-left: 10px;
  font-family: secondfont;
  font-weight: bold;
  color: #fff;
  text-align: center; }

.titulo {
  margin-left: 10px;
  margin-top: 20px;
  text-decoration: underline;
  padding: 10px;
  font-family: "calibri"; }

.texto-izquierdo {
  text-align: left;
  font-family: "arial";
  font-size: 15px;
  font-weight: bold;
  color: black;
  padding: 20px; }

.minititulo {
  text-align: left;
  font-family: "arial";
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: underline; }

.galeri {
  text-align: center;
  font-family: "arial";
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-decoration: underline;
  margin: 15px; }

.cursos {
  color: white;
  text-align: center; }

.colores {
  background-image: linear-gradient(to right, #FFE690, orange); }

.table {
  width: 40%;
  background-color: orange;
  text-align: left;
  border-style: solid;
  border-color: #FFE690;
  align-content: center;
  margin-left: auto;
  margin-right: auto; }

.caja {
  background-color: #FFE690;
  border-style: solid;
  border-color: orange;
  margin-top: 10px;
  padding-bottom: 20px;
  margin: 0px auto; }

.bg-orange {
  background-color: orange;
  border: 3px #FFE690 solid; }

.btn-orange {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFE690; }

@media screen and (max-width: 1024px) {
  .grid-contenedor {
    display: grid;
    grid-template-areas: "item1"  "item2" "item3"; }
  .img, .img2, .img, .img3, .img3 {
    width: 300px;
    height: 450px; }
  .nav {
    justify-content: center; }
  .video-responsive {
    overflow: hidden;
    padding-bottom: 400px;
    position: relative;
    height: 0; }
    .video-responsive iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      margin: 10px; } }

@media screen and (max-width: 768) {
  .video-responsive {
    overflow: hidden;
    padding-bottom: 400px;
    position: relative;
    height: 0; }
    .video-responsive iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      margin-bottom: 10px; } }

@media screen and (max-width: 480px) {
  .mapa {
    width: 100%; }
  .contacto2, .img, .img2, .img, .img3 {
    width: 100vw; } }
