//variable para colores//
//aplicando map-get//
$estilo: (
    naranja: orange,
    secondcolor: #FFE690
);

.colores{
    background-image: linear-gradient(to right, map-get($estilo , secondcolor ), map-get($estilo , naranja ) );
  }
.table{
    width: 40%;
    background-color: map-get($estilo , naranja );
    text-align: left;
    border-style: solid;
    border-color: map-get($estilo , secondcolor );
    align-content: center;
}
.caja{
    background-color:  map-get($estilo , secondcolor );
    border-style: solid;
    border-color: map-get($estilo , naranja );
    margin-top: 10px;
    padding-bottom: 20px;
    margin: 0px auto;
}
.bg-orange{
	background-color:map-get($estilo , naranja );
	border: 3px map-get($estilo , secondcolor ) solid;
}
.btn-orange{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: map-get($estilo , secondcolor );

}

  